.navbar-interactive1-container {
  display: flex;
  position: relative;
}
.navbar-interactive1-root-class-name {
  align-self: stretch;
}
.navbar-interactive1-root-class-name1 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name2 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name3 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name4 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name5 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name6 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name7 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name8 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name9 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name10 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name11 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name12 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name13 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name14 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name15 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name16 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name17 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name18 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name19 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name20 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name21 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name22 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name23 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name24 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name25 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name26 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name27 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name28 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name29 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name30 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name31 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name32 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name33 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name34 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name35 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name36 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name37 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name38 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name39 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name40 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name41 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name42 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name43 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name44 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name45 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name46 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name47 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name48 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name49 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name50 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name51 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name52 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name53 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name54 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name55 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name56 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name57 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name58 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name59 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name60 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name61 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name62 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name63 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name64 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name65 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name66 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name67 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name68 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name69 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name70 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name71 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name72 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name73 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name74 {
  align-self: stretch;
}

.navbar-interactive1111-container {
  display: flex;
  position: relative;
}
.navbar-interactive1111-navbar-interactive {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #cecece;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.8px;
}
.navbar-interactive1111-image {
  width: 139px;
  height: 54px;
  text-decoration: none;
}
.navbar-interactive1111-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-interactive1111-links {
  flex: 1;
  width: 817px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-interactive1111-navlink {
  display: contents;
}
.navbar-interactive1111-text {
  color: #2d2d2d;
  font-size: 20px;
  transition: 0.3s;
  font-family: "NeueMontreal-Regular";
  text-decoration: none;
}
.navbar-interactive1111-text:hover {
  text-decoration: underline;
}
.navbar-interactive1111-navlink1 {
  display: contents;
}
.navbar-interactive1111-text1 {
  color: #2d2d2d;
  font-size: 20px;
  transition: 0.3s;
  font-family: "NeueMontreal-Regular";
  margin-left: var(--dl-space-space-twounits);
  margin-right: 0px;
  text-decoration: none;
}
.navbar-interactive1111-text1:hover {
  text-decoration:  none;
}
.navbar-interactive1111-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-dropdown-list {
  left: 0%;
  width: 267px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-interactive1111-dropdown {
  width: 258px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-interactive1111-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-interactive1111-text2 {
  color: #2d2d2d;
  width: 100%;
  cursor: pointer;
  height: 23px;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
}
.navbar-interactive1111-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 262px;
  height: 47px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-interactive1111-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-interactive1111-text3 {
  color: #2d2d2d;
  width: 219px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
}
.navbar-interactive1111-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-interactive1111-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-interactive1111-text4 {
  color: #2d2d2d;
  width: 215px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
}
.navbar-interactive1111-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-interactive1111-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-interactive1111-text5 {
  color: #2d2d2d;
  width: 163px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
}
.navbar-interactive1111-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-interactive1111-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-interactive1111-text6 {
  color: #2d2d2d;
  width: 163px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
}
.navbar-interactive1111-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-interactive1111-navlink2 {
  display: contents;
}
.navbar-interactive1111-text7 {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "NeueMontreal-Regular";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive1111-navlink3 {
  display: contents;
}
.navbar-interactive1111-text8 {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "NeueMontreal-Regular";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive1111-burger-menu {
  display: none;
}
.navbar-interactive1111-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive1111-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 317px;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive1111-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive1111-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive1111-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive1111-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive1111-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive1111-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive1111-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive1111-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive1111-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive1111-root-class-name {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name1 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name2 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name3 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name4 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name5 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name6 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name7 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name8 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name9 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name10 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name11 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name12 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name13 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name14 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name15 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name16 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name17 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name18 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name19 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name20 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name21 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name22 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name23 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name24 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name25 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name26 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name27 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name28 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name29 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name30 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name31 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name32 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name33 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name34 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name35 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name36 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name37 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name38 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name39 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name40 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name41 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name42 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name43 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name44 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name45 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name46 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name47 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name48 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name49 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name50 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name51 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name52 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name53 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name54 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name55 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name56 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name57 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name58 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name59 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name60 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name61 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name62 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name63 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name64 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name65 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name66 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name67 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name68 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name69 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name70 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name71 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name72 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name73 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name74 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name75 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name76 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name77 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name78 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name79 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name80 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name81 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name82 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name83 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name84 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name85 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name86 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name87 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name88 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name89 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name90 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name91 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name92 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name93 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name94 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name95 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name96 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name97 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name98 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name99 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name100 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name101 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name102 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name103 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name104 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name105 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name106 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name107 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name108 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name109 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name110 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name111 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name112 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name113 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name114 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name115 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name116 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name117 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name118 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name119 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name120 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name121 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name122 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name123 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name124 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name125 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name126 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name127 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name128 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name129 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name130 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name131 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name132 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name133 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name134 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name135 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name136 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name137 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name138 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name139 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name140 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name141 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name142 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name143 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name144 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name145 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name146 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name147 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name148 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name149 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name150 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name151 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name152 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name153 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name154 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name155 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name156 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name157 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name158 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name159 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name160 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name161 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name162 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name163 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name164 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name165 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name166 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name167 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name168 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name169 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name170 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name171 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name172 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name173 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name174 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name175 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name176 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name177 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name178 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name179 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name180 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name181 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name182 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name183 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name184 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name185 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name186 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name187 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name188 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name189 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name190 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name191 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name192 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name193 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name194 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name195 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name196 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name197 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name198 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name199 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name200 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name201 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name202 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name203 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name204 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name205 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name206 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name207 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name208 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name209 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name210 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name211 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name212 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name213 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name214 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name215 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name216 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name217 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name218 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name219 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name220 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name221 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name222 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name223 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name224 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name225 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name226 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name227 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name228 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name229 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name230 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name231 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name232 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name233 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name234 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name235 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name236 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name237 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name238 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name239 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name240 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name241 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name242 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name243 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name244 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name245 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name246 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name247 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name248 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name249 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name250 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name251 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name252 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name253 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name254 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name255 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name256 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name257 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name258 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name259 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name260 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name261 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name262 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name263 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name264 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name265 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name266 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name267 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name268 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name269 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name270 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name271 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name272 {
  align-self: stretch;
}
.navbar-interactive1111-root-class-name273 {
  align-self: stretch;
}
@media(max-width: 991px) {
  .navbar-interactive1111-navbar-interactive {
    width: 991px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1111-links {
    width: 671px;
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .navbar-interactive1111-navbar-interactive {
    width: 767px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1111-desktop-menu {
    display: none;
  }
  .navbar-interactive1111-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive1111-icon {
    width: 32px;
    height: 36px;
  }
  .navbar-interactive1111-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1111-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1111-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive1111-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navbar-interactive1111-navbar-interactive {
    width: 479px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .navbar-interactive1111-image {
    width: 118px;
    height: 48px;
  }
  .navbar-interactive1111-dropdown-list {
    display: none;
  }
  .navbar-interactive1111-icon {
    fill: #000000;
    width: 33px;
    height: 29px;
  }
  .navbar-interactive1111-mobile-menu {
    top: 0px;
    left: 0px;
    height: 418px;
    padding: 16px;
    background-color: #ffffff;
  }
  .navbar-interactive1111-nav {
    height: 369px;
    padding: var(--dl-space-space-unit);
    border-radius: 10px;
    background-color: var(--dl-color-primary-300);
  }
  .navbar-interactive1111-top {
    align-self: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-end;
  }
  .navbar-interactive1111-icon2 {
    width: 64px;
    height: 44px;
  }
  .navbar-interactive1111-links1 {
    height: 200px;
  }
  .navbar-interactive1111-navlink4 {
    color: #fdfdfd;
    font-size: 30px;
    font-family: NeueMontreal-Regular;
  }
  .navbar-interactive1111-navlink5 {
    color: #ffffff;
    font-size: 30px;
    font-family: NeueMontreal-Regular;
  }
  .navbar-interactive1111-navlink6 {
    color: #ffffff;
    font-size: 30px;
    font-family: NeueMontreal-Regular;
  }
  .navbar-interactive1111-navlink7 {
    color: #ffffff;
    font-size: 30px;
    font-family: NeueMontreal-Regular;
  }
}

.speaker-card6-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-card6-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 255px;
  min-height: 255px;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f3eb;
}

.speaker-card6-image {
  height: 304px;
  align-self: stretch;
  object-fit: cover;
  transition: 0.3s;
  border-radius: Radius12;
}
.speaker-card6-image:hover {
  width: 241px;
  height: 304px;
  align-self: center;
}
.speaker-card6-last-name {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.speaker-card6-first-name {
  color: #252525;
  font-size: 22px;
  font-family: "Neue Montreal";
  line-height: 1.1;
}
























@media(max-width: 479px) {
  .speaker-card6-image {
    height: 277px;
    align-self: stretch;
  }
}

.speaker-card7-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-card7-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 255px;
  min-height: 255px;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f3eb;
}

.speaker-card7-image {
  height: 304px;
  align-self: stretch;
  object-fit: cover;
  transition: 0.3s;
  border-radius: Radius12;
}
.speaker-card7-image:hover {
  width: 241px;
  height: 304px;
  align-self: center;
}
.speaker-card7-last-name {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.speaker-card7-first-name {
  color: #252525;
  font-size: 22px;
  font-family: "Neue Montreal";
  line-height: 1.1;
}
























@media(max-width: 479px) {
  .speaker-card7-image {
    height: 277px;
    align-self: stretch;
  }
}

.footer-footer {
  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #b9b9b9;
  border-width: 0.8px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact {
  width: 290px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text1 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container1 {
  width: 189px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text6 {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink1 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-container2 {
  width: 190px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text7 {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink2 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink3 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink4 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-text8 {
  color: #696969;
  align-self: center;
  font-family: "Neue Montreal";
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-links-container {
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .footer-contact {
    flex: 1;
    width: 183px;
    margin-right: 200px;
  }
  .footer-container1 {
    margin-right: var(--dl-space-space-fiveunits);
  }
  .footer-contact1 {
    flex: 1;
  }
  .footer-contact2 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    height: 610px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .footer-contact {
    margin-right: var(--dl-space-space-triplequarter);
  }
  .footer-text1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-contact1 {
    margin-right: var(--dl-space-space-triplequarter);
  }
  .footer-contact2 {
    margin-right: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: 100%;
    height: 574px;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
  .footer-container {
    flex: 1;
    width: auto;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    width: 100%;
    height: 566px;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-contact {
    width: 241px;
    height: 119px;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    font-size: 20px;
  }
  .footer-text1 {
    margin-bottom: 0px;
  }
  .footer-container1 {
    width: 50%;
    height: 89px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .footer-text6 {
    font-size: 20px;
  }
  .footer-contact1 {
    width: 192px;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text7 {
    font-size: 20px;
  }
  .footer-contact2 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text8 {
    text-align: center;
  }
}

.artist-brushes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.artist-brushes-container1 {
  width: 100%;
  height: 98px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
.artist-brushes-sorting {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.artist-brushes-option-primary {
  color: #545454;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  aspect-ratio: 1;
  border-color: #949aa5;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.artist-brushes-option-primary:hover {
  opacity: 0.5;
}
.artist-brushes-option {
  transition: 0.3s;
  font-family: "Neue Montreal";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.artist-brushes-option:hover {
  background-color: #272727;
}
.artist-brushes-option1 {
  color: #ffffff;
  height: 51px;
  transition: 0.3s;
  font-family: "Neue Montreal";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(39, 39, 39);
}
.artist-brushes-option1:hover {
  background-color: #272727;
}
.artist-brushes-option2 {
  fill: #352b2a;
  color: #352b2a;
  transition: 0.3s;
  font-family: "Neue Montreal";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.artist-brushes-option2:hover {
  border-color: #272727;
  background-color: #000000;
}
.artist-brushes-option3 {
  transition: 0.3s;
  font-family: "Neue Montreal";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.artist-brushes-option3:hover {
  background-color: #272727;
}
.artist-brushes-option4 {
  transition: 0.3s;
  font-family: "Neue Montreal";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.artist-brushes-option4:hover {
  background-color: #272727;
}
.artist-brushes-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.artist-brushes-speakers-container {
  flex: 1;
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.artist-brushes-component {
  text-decoration: none;
}
.artist-brushes-component1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .artist-brushes-speakers-container {
    align-self: stretch;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .artist-brushes-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .artist-brushes-speakers-container {
    flex: 1;
    width: 698px;
    align-self: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .artist-brushes-container1 {
    height: 200px;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: center;
  }
  .artist-brushes-sorting {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .artist-brushes-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .artist-brushes-speakers-container {
    width: auto;
    align-self: stretch;
    grid-template-columns: 1fr;
  }
}
