.navbar-interactive1-container {
  display: flex;
  position: relative;
}
.navbar-interactive1-root-class-name {
  align-self: stretch;
}
.navbar-interactive1-root-class-name1 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name2 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name3 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name4 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name5 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name6 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name7 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name8 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name9 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name10 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name11 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name12 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name13 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name14 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name15 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name16 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name17 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name18 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name19 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name20 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name21 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name22 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name23 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name24 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name25 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name26 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name27 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name28 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name29 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name30 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name31 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name32 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name33 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name34 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name35 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name36 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name37 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name38 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name39 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name40 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name41 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name42 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name43 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name44 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name45 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name46 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name47 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name48 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name49 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name50 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name51 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name52 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name53 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name54 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name55 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name56 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name57 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name58 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name59 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name60 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name61 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name62 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name63 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name64 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name65 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name66 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name67 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name68 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name69 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name70 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name71 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name72 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name73 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name74 {
  align-self: stretch;
}

.component10-container {
  flex: 0 0 auto;
  width: 572px;
  height: 582px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.component10-text {
  color: rgb(84, 84, 84);
  font-size: 1em;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Neue Montreal";
}
.component10-text1 {
  width: 383px;
  font-size: 1.7em;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Neue Montreal";
}
.component10-text2 {
  color: #444444;
  font-size: 17px;
  margin-top: var(--dl-space-space-unit);
  font-family: "Neue Montreal";
}
.component10-accordion {
  width: 553px;
  height: 258px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.component10-element {
  width: 529px;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(92, 92, 92, 0.2);
  padding-bottom: var(--dl-space-space-unit);
}
.component10-content {
  position: relative;
}
.component10-header {
  color: rgb(67, 67, 67);
  font-size: 17px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 500;
}
.component10-element1 {
  width: 529px;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(105, 105, 105, 0.2);
  padding-bottom: var(--dl-space-space-unit);
}
.component10-header1 {
  color: rgb(63, 63, 63);
  font-size: 17px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 500;
}
.component10-element2 {
  width: 529px;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(105, 105, 105, 0.2);
  padding-bottom: var(--dl-space-space-unit);
}
.component10-header2 {
  color: rgb(63, 63, 63);
  font-family: "Neue Montreal";
}
.component10-container2 {
  display: contents;
}
.component10-root-class-name {
  flex: 1;
  align-self: center;
}

.component10-root-class-name2 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name3 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name4 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name5 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name6 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name7 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name8 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name9 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name10 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name11 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name12 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name13 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name14 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name15 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name16 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name17 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name18 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name19 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name21 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name22 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name23 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name24 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name25 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name26 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name27 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name28 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name29 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name30 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name31 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name32 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name33 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name34 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name35 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name36 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name37 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name38 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name39 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name40 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name41 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name42 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name43 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name44 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name45 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name46 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name47 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name48 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name49 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name50 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name51 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name52 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name53 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name54 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name55 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name56 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name57 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name59 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name60 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name61 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name62 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name63 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name64 {
  flex: 1;
  align-self: center;
}
.component10-root-class-name65 {
  flex: 1;
  align-self: center;
}
@media(max-width: 991px) {
  .component10-container {
    width: 866px;
    height: 548px;
  }
  .component10-header {
    font-size: 24px;
  }
  .component10-header1 {
    font-size: 24px;
  }
  .component10-header2 {
    font-size: 24px;
  }
  .component10-text3 {
    font-size: 24px;
  }
  .component10-root-class-name {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name2 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name3 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name4 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name5 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name6 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name7 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name8 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name9 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name10 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name11 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name12 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name13 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name14 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name15 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name16 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name17 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name18 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name19 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name21 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name22 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name23 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name24 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name25 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name26 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name27 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name28 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name29 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name30 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name31 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name32 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name33 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name34 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name35 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name36 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name37 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name38 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name39 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name40 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name41 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name42 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name43 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name44 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name45 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name46 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name47 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name48 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name49 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name50 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name51 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name52 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name53 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name54 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name55 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name56 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name57 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name59 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name60 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name61 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name62 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name63 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name64 {
    flex: 1;
    margin-left: 0px;
  }
  .component10-root-class-name65 {
    flex: 1;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .component10-container {
    width: 557px;
    height: 486px;
  }
  .component10-root-class-name {
    margin-left: 0px;
  }
  .component10-root-class-name1 {
    margin-left: 0px;
  }
  .component10-root-class-name2 {
    margin-left: 0px;
  }
  .component10-root-class-name3 {
    margin-left: 0px;
  }
  .component10-root-class-name4 {
    margin-left: 0px;
  }
  .component10-root-class-name5 {
    margin-left: 0px;
  }
  .component10-root-class-name6 {
    margin-left: 0px;
  }
  .component10-root-class-name7 {
    margin-left: 0px;
  }
  .component10-root-class-name8 {
    margin-left: 0px;
  }
  .component10-root-class-name9 {
    margin-left: 0px;
  }
  .component10-root-class-name10 {
    margin-left: 0px;
  }
  .component10-root-class-name11 {
    margin-left: 0px;
  }
  .component10-root-class-name12 {
    margin-left: 0px;
  }
  .component10-root-class-name13 {
    margin-left: 0px;
  }
  .component10-root-class-name14 {
    margin-left: 0px;
  }
  .component10-root-class-name15 {
    margin-left: 0px;
  }
  .component10-root-class-name16 {
    margin-left: 0px;
  }
  .component10-root-class-name17 {
    margin-left: 0px;
  }
  .component10-root-class-name18 {
    margin-left: 0px;
  }
  .component10-root-class-name19 {
    margin-left: 0px;
  }
  .component10-root-class-name21 {
    margin-left: 0px;
  }
  .component10-root-class-name22 {
    margin-left: 0px;
  }
  .component10-root-class-name23 {
    margin-left: 0px;
  }
  .component10-root-class-name24 {
    margin-left: 0px;
  }
  .component10-root-class-name25 {
    margin-left: 0px;
  }
  .component10-root-class-name26 {
    margin-left: 0px;
  }
  .component10-root-class-name27 {
    margin-left: 0px;
  }
  .component10-root-class-name28 {
    margin-left: 0px;
  }
  .component10-root-class-name29 {
    margin-left: 0px;
  }
  .component10-root-class-name30 {
    margin-left: 0px;
  }
  .component10-root-class-name31 {
    margin-left: 0px;
  }
  .component10-root-class-name32 {
    margin-left: 0px;
  }
  .component10-root-class-name33 {
    margin-left: 0px;
  }
  .component10-root-class-name34 {
    margin-left: 0px;
  }
  .component10-root-class-name35 {
    margin-left: 0px;
  }
  .component10-root-class-name36 {
    margin-left: 0px;
  }
  .component10-root-class-name37 {
    margin-left: 0px;
  }
  .component10-root-class-name38 {
    margin-left: 0px;
  }
  .component10-root-class-name39 {
    margin-left: 0px;
  }
  .component10-root-class-name40 {
    margin-left: 0px;
  }
  .component10-root-class-name41 {
    margin-left: 0px;
  }
  .component10-root-class-name42 {
    margin-left: 0px;
  }
  .component10-root-class-name43 {
    margin-left: 0px;
  }
  .component10-root-class-name44 {
    margin-left: 0px;
  }
  .component10-root-class-name45 {
    margin-left: 0px;
  }
  .component10-root-class-name46 {
    margin-left: 0px;
  }
  .component10-root-class-name47 {
    margin-left: 0px;
  }
  .component10-root-class-name48 {
    margin-left: 0px;
  }
  .component10-root-class-name49 {
    margin-left: 0px;
  }
  .component10-root-class-name50 {
    margin-left: 0px;
  }
  .component10-root-class-name51 {
    margin-left: 0px;
  }
  .component10-root-class-name52 {
    margin-left: 0px;
  }
  .component10-root-class-name53 {
    margin-left: 0px;
  }
  .component10-root-class-name54 {
    margin-left: 0px;
  }
  .component10-root-class-name55 {
    margin-left: 0px;
  }
  .component10-root-class-name56 {
    margin-left: 0px;
  }
  .component10-root-class-name57 {
    margin-left: 0px;
  }
  .component10-root-class-name59 {
    margin-left: 0px;
  }
  .component10-root-class-name60 {
    margin-left: 0px;
  }
  .component10-root-class-name61 {
    margin-left: 0px;
  }
  .component10-root-class-name62 {
    margin-left: 0px;
  }
  .component10-root-class-name63 {
    margin-left: 0px;
  }
  .component10-root-class-name64 {
    margin-left: 0px;
  }
  .component10-root-class-name65 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .component10-container {
    width: 333px;
    height: 489px;
  }
  .component10-text {
    align-self: stretch;
    font-style: normal;
    font-weight: 400;
  }
  .component10-text1 {
    width: 331px;
    font-size: 1.3em;
    align-self: stretch;
  }
  .component10-text2 {
    align-self: stretch;
    margin-top: var(--dl-space-space-halfunit);
  }
  .component10-accordion {
    width: 100%;
  }
  .component10-element {
    width: 100%;
    align-self: stretch;
  }
  .component10-header {
    font-size: 17px;
  }
  .component10-element1 {
    width: 100%;
    align-self: stretch;
  }
  .component10-header1 {
    font-size: 17px;
  }
  .component10-element2 {
    width: 100%;
    align-self: stretch;
  }
  .component10-header2 {
    font-size: 17px;
  }
  .component10-text3 {
    font-size: 17px;
  }
  .component10-root-class-name {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
  }
  .component10-root-class-name2 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name3 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name4 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name5 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name6 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name7 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name8 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name9 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name10 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name11 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name12 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name13 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name14 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name15 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name16 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name17 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name18 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name19 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name21 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name22 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name23 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name24 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name25 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name26 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name27 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name28 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name29 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name30 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name31 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name32 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name33 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name34 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name35 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name36 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name37 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name38 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name39 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name40 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name41 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name42 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name43 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name44 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name45 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name46 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name47 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name48 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name49 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name50 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name51 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name52 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name53 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name54 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name55 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name56 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name57 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name59 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name60 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name61 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name62 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name63 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name64 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .component10-root-class-name65 {
    flex: 0;
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}

.speaker-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 255px;
  min-height: 255px;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f3eb;
}

.speaker-card-image {
  height: 304px;
  align-self: stretch;
  object-fit: cover;
  transition: 0.3s;
  border-radius: Radius12;
}
.speaker-card-image:hover {
  width: 241px;
  height: 304px;
  align-self: center;
}
.speaker-card-last-name {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.speaker-card-first-name {
  color: #252525;
  font-size: 22px;
  font-family: "Neue Montreal";
  line-height: 1.1;
}
























@media(max-width: 767px) {
  .speaker-card-root-class-name {
    display: flex;
  }
  .speaker-card-root-class-name1 {
    display: flex;
  }
  .speaker-card-root-class-name2 {
    display: flex;
  }
  .speaker-card-root-class-name3 {
    display: flex;
  }
  .speaker-card-root-class-name4 {
    display: flex;
  }
  .speaker-card-root-class-name5 {
    display: flex;
  }
  .speaker-card-root-class-name6 {
    display: flex;
  }
  .speaker-card-root-class-name7 {
    display: flex;
  }
  .speaker-card-root-class-name8 {
    display: flex;
  }
  .speaker-card-root-class-name9 {
    display: flex;
  }
  .speaker-card-root-class-name10 {
    display: flex;
  }
  .speaker-card-root-class-name11 {
    display: flex;
  }
  .speaker-card-root-class-name12 {
    display: flex;
  }
  .speaker-card-root-class-name13 {
    display: flex;
  }
  .speaker-card-root-class-name14 {
    display: flex;
  }
  .speaker-card-root-class-name15 {
    display: flex;
  }
  .speaker-card-root-class-name16 {
    display: flex;
  }
  .speaker-card-root-class-name23 {
    display: flex;
  }
  .speaker-card-root-class-name37 {
    display: flex;
  }
  .speaker-card-root-class-name51 {
    display: flex;
  }
  .speaker-card-root-class-name52 {
    display: flex;
  }
  .speaker-card-root-class-name53 {
    display: flex;
  }
  .speaker-card-root-class-name54 {
    display: flex;
  }
  .speaker-card-root-class-name58 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .speaker-card-image {
    height: 277px;
    align-self: stretch;
  }
}

.footer-footer {
  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #b9b9b9;
  border-width: 0.8px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-contact {
  width: 290px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text1 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container1 {
  width: 189px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text6 {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink1 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-container2 {
  width: 190px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text7 {
  color: #606060;
  font-size: 14px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-contact2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink2 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink3 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink4 {
  font-size: 20px;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-text8 {
  color: #696969;
  align-self: center;
  font-family: "Neue Montreal";
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-links-container {
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .footer-contact {
    flex: 1;
    width: 183px;
    margin-right: 200px;
  }
  .footer-container1 {
    margin-right: var(--dl-space-space-fiveunits);
  }
  .footer-contact1 {
    flex: 1;
  }
  .footer-contact2 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    height: 610px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-links-container {
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .footer-contact {
    margin-right: var(--dl-space-space-triplequarter);
  }
  .footer-text1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-contact1 {
    margin-right: var(--dl-space-space-triplequarter);
  }
  .footer-contact2 {
    margin-right: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: 100%;
    height: 574px;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
  .footer-container {
    flex: 1;
    width: auto;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .footer-links-container {
    width: 100%;
    height: 566px;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-contact {
    width: 241px;
    height: 119px;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    font-size: 20px;
  }
  .footer-text1 {
    margin-bottom: 0px;
  }
  .footer-container1 {
    width: 50%;
    height: 89px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .footer-text6 {
    font-size: 20px;
  }
  .footer-contact1 {
    width: 192px;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text7 {
    font-size: 20px;
  }
  .footer-contact2 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text8 {
    text-align: center;
  }
}

.toptex-t9-roller-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.toptex-t9-roller-container1 {
  width: 100%;
  height: 707px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  justify-content: center;
}
.toptex-t9-roller-container2 {
  flex: 1;
  width: 734px;
  height: 580px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #f2f3eb;
}
.toptex-t9-roller-image {
  width: 581px;
  height: 537px;
  object-fit: cover;
}
.toptex-t9-roller-container3 {
  width: 100%;
  height: 567px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.toptex-t9-roller-text {
  font-size: 2em;
  align-self: center;
  text-align: center;
  font-family: "Neue Montreal";
  margin-bottom: var(--dl-space-space-twounits);
}
.toptex-t9-roller-speakers-container {
  width: 1334px;
  height: 416px;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.toptex-t9-roller-component1 {
  text-decoration: none;
}
.toptex-t9-roller-component2 {
  text-decoration: none;
}
.toptex-t9-roller-component3 {
  text-decoration: none;
}
.toptex-t9-roller-component4 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .toptex-t9-roller-container1 {
    height: 1319px;
    flex-direction: column;
  }
  .toptex-t9-roller-container2 {
    flex: 1;
    width: 857px;
    height: 606px;
    align-self: stretch;
  }
  .toptex-t9-roller-image {
    width: 100%;
    height: 447px;
    align-self: center;
  }
  .toptex-t9-roller-container3 {
    height: 1009px;
  }
  .toptex-t9-roller-speakers-container {
    width: 877px;
    height: 844px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .toptex-t9-roller-container1 {
    height: 1237px;
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: 0px;
  }
  .toptex-t9-roller-container2 {
    flex: 1;
    width: 608px;
    align-self: stretch;
    margin-bottom: var(--dl-space-space-doubleunit);
    padding-bottom: 0px;
  }
  .toptex-t9-roller-speakers-container {
    width: 698px;
    height: 991px;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .toptex-t9-roller-container1 {
    width: 100%;
    height: 879px;
    padding: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    flex-direction: column;
  }
  .toptex-t9-roller-container2 {
    flex: 0;
    width: auto;
    height: 367px;
    align-self: stretch;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .toptex-t9-roller-image {
    flex: 1;
    width: 402px;
    height: 317px;
  }
  .toptex-t9-roller-container3 {
    height: 1676px;
    margin-bottom: 0px;
  }
  .toptex-t9-roller-text {
    font-size: 1.5em;
    margin-bottom: var(--dl-space-space-unit);
  }
  .toptex-t9-roller-speakers-container {
    width: auto;
    height: 1581px;
    align-self: stretch;
    grid-template-columns: 1fr;
  }
}
