.component9-container {
  width: 335px;
  height: 334px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component9-image {
  width: 100%;
  height: 268px;
  object-fit: cover;
}
.component9-text {
  align-self: flex-start;
}
.component9-text1 {
  font-size: 1.4em;
  align-self: flex-start;
}
