.component6-container {
  flex: 0 0 auto;
  width: 374px;
  height: 456px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.component6-container1 {
  width: 100%;
  height: 373px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #ffffff;
}
.component6-image {
  width: 263px;
  height: 313px;
  object-fit: cover;
}
.component6-text {
  font-size: 1.2em;
  font-family: "Neue Montreal";
}
