.contact112-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-max-width {
  align-self: center;
}
.contact112-section-title {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact112-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-content1 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact112-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-contact-info {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-text2 {
  align-self: flex-start;
  text-align: center;
}
.contact112-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-text4 {
  align-self: flex-start;
  text-align: center;
}
.contact112-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact112-text7 {
  align-self: flex-start;
  text-align: center;
}
.contact112-iframe {
  height: 664px;
}
@media(max-width: 991px) {
  .contact112-content1 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact51-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-max-width {
  align-self: center;
}
.contact51-section-title {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact51-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-content1 {
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact51-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-contact-info {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-text2 {
  align-self: flex-start;
  text-align: center;
}
.contact51-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-text4 {
  align-self: flex-start;
  text-align: center;
}
.contact51-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact51-text7 {
  align-self: flex-start;
  text-align: center;
}
.contact51-image {
  max-width: 767px;
}
@media(max-width: 991px) {
  .contact51-content1 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}
