.navbar-interactive1-container {
  display: flex;
  position: relative;
}
.navbar-interactive1-root-class-name {
  align-self: stretch;
}
.navbar-interactive1-root-class-name1 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name2 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name3 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name4 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name5 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name6 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name7 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name8 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name9 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name10 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name11 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name12 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name13 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name14 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name15 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name16 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name17 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name18 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name19 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name20 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name21 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name22 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name23 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name24 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name25 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name26 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name27 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name28 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name29 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name30 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name31 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name32 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name33 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name34 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name35 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name36 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name37 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name38 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name39 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name40 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name41 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name42 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name43 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name44 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name45 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name46 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name47 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name48 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name49 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name50 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name51 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name52 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name53 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name54 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name55 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name56 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name57 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name58 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name59 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name60 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name61 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name62 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name63 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name64 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name65 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name66 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name67 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name68 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name69 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name70 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name71 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name72 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name73 {
  align-self: stretch;
}
.navbar-interactive1-root-class-name74 {
  align-self: stretch;
}
