.secondary-button-container {
  display: flex;
  position: relative;
}
.secondary-button-button {
  color: rgb(36, 97, 255);
  width: 113px;
  height: 60px;
  font-size: 1rem;
  transition: 0.3s;
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
  line-height: 1;
  padding-top: 22px;
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: 22px;
  text-decoration: none;
  background-color: #ffffff;
}

