.speaker-card41-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.speaker-card41-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 255px;
  min-height: 255px;
  transition: 0.3s;
  align-items: flex-end;
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f3eb;
}

.speaker-card41-image {
  height: 304px;
  align-self: stretch;
  object-fit: cover;
  transition: 0.3s;
  border-radius: Radius12;
}
.speaker-card41-image:hover {
  width: 241px;
  height: 304px;
  align-self: center;
}
.speaker-card41-last-name {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-family: "Neue Montreal";
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.speaker-card41-first-name {
  color: #252525;
  font-size: 22px;
  font-family: "Neue Montreal";
  line-height: 1.1;
}
























@media(max-width: 479px) {
  .speaker-card41-image {
    height: 277px;
    align-self: stretch;
  }
}
